.google-picker-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.google-picker:hover{
  background-color: #8DAEF6;
}

.google-picker{
  color: #080808;
  background-color: #D4E0FC;
  width: 50%;
  height: 32px;
  margin-top: 10px;
}

#google-body-input-title{
  margin: 10px 0px;
}

#google-body-input{
  background-color: #D4E0FC;
}