#body{
  background-color: #151515;
  color: #FDFDFD;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header{
  position: fixed;
  background-color: #080808;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: solid #000000 3px;
}

#logo-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-name{
  margin-left: 10px;
}

#app-title-container{
  position: fixed;
  margin-left: 46.5%;
}

#app-title{
  font-weight: 900;
}

#menu-btn:hover{
  color: #8DE2F6;
  border-bottom-style: solid;
  border-bottom-color: #D4E0FC;
}

#menu-btn:active{
  color: #8DAEF6;
}

.clicked{
  color: #8DE2F6;
}

#menu-btn{
  font-weight: 900;
  padding-left: 15px;
  padding-right: 14px;
  padding-bottom: 8px;
}

#menu-container{
  background-color: #080808;
  position: fixed;
  top: 33px;
  right: 0px;
  border-top-style: solid;
  border-top-color: #8DE2F6;
  border-width: 3px;
  padding: 10px;
}

.menu-link:hover{
  color: #8DE2F6;
}

.menu-link:active{
  color: #8DAEF6;
}

.menu-link{
  color: #D4E0FC;
}

.api-link{
  margin-top: 5px;
}

#input-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 52px;
}

#input-title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

#input-body-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#http-btn-container{
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-top: 20px;
}

.http-btn:hover{
  background-color: #8DE2F6;
}

.http-btn:disabled{
  background-color: #828282;
}

.http-btn:active{
  background-color: #8DAEF6;
}

.http-btn{
  height: 32px;
  width: 64px;
  background-color: #D4F4FC;
  color: #080808;
  font-weight: 900;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  border-radius: 5px;
}

#message-container{
  margin-top: 10px;
}

#message-body{
  margin-top: 10px;
  max-width: 300px;
  overflow: scroll;
}